
// #f0f2f5 !important

// Color system
$white:               #fff !default;
$gray-100:            #f8f9fa !default;
$gray-200:            #f0f2f5 !default;
$gray-300:            #dee2e6 !default;
$gray-400:            #ced4da !default;
$gray-500:            #adb5bd !default;
$gray-600:            #6c757d !default;
$gray-700:            #495057 !default;
$gray-800:            #343a40 !default;
$gray-900:            #212529 !default;
$black:               #000 !default;

// scss-docs-start gray-colors
$gray-colors: (
	"white": $white,
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"gray-700": $gray-700,
	"gray-800": $gray-800,
	"gray-900": $gray-900,
	"black": $black
) !default;
// scss-docs-end gray-colors

// fusv-enable
$blue:          #63B3ED !default;
$indigo:        #596CFF !default;
$purple:        #6f42c1 !default;
$pink:          #d63384 !default;
$red:           #F56565 !default;
$rose:          #e91e63 !default;
$orange:        #fd7e14 !default;
$yellow:        #FBD38D !default;
$green:         #81E6D9 !default;
$teal:          #20c997 !default;
$cyan:          #0dcaf0 !default;
$blue-ocean:    #8aa8f4 !default;

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
) !default;
// scss-docs-end colors-map

$primary:       #002d74 !default;
$secondary:     #7b809a !default;
$info:          #1A73E8 !default;
$success:       #4CAF50 !default;
$warning:       #fb8c00 !default;
$danger:        #F44335 !default;
$light:         $gray-200 !default;
$dark:          $h-color !default;
$border:        $light !default;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white
) !default;
// scss-docs-end theme-colors-map

